<ion-header>
    <ion-toolbar>
      <ion-title>
      <!--Cadastrar--> 
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
        
      <div class="container" >
          <a class="links" id="paracadastro"></a>
          <a class="links" id="paralogin"></a>
          
          <div class="content">      
          <!--FORMULÁRIO DE CADASTRO-->
            <div id="cadastro">
              <form method="post" action=""> 
                <figure id="logo">
                    <ion-img id= "logo" src="../assets/logo1.png" alt="" style="width:230; height:230px;" ></ion-img>
                </figure>
                <h1>Cadastro</h1> 
               
					<p> 
              <label for="nome_cad">Seu nome</label>
              <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Luiz Augusto" />
            </p>
            
            <p> 
              <label for="email_cad">Seu e-mail</label>
              <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@htmlecsspro.com"/> 
            </p>
            
            <p> 
              <label for="senha_cad">Sua senha</label>
              <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="1234"/>
            </p>
            
            <p> 
              <input type="submit" value="Cadastrar"/> 
            </p>
                     
                  <div class="memory">
                    <a [routerLink]="['/home']">Login</a>
                    <br />
                    <a [routerLink]="['/recuperar']">Recuperar senha</a>
                  </div>
  
                </form>
            </div>
          </div>
        </div> 
      </ion-content>
  