#logo	{
	float:center;
	text-align:	center;
	}
ion-content{
	text-align:	center;
}

/* formatando o cabeçalho dos formulários */
h1{
  font-size: 48px;
  color: #1E90FF;
  padding: 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}