<ion-header>
  <ion-toolbar>
    <ion-title>
    <!--Chat CEST--> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      
    <div class="container" >
        <a class="links" id="paracadastro"></a>
        <a class="links" id="paralogin"></a>
        
        <div class="content">      
        <!--FORMULÁRIO DE LOGIN-->
          <div id="login">
            <form method="post" action=""> 
              <figure id="logo">
                  <ion-img id= "logo" src="../assets/logo1.png" alt="" style="width:230; height:230px;" ></ion-img>
              </figure>
              <h1>Login</h1> 
              <p> 
                <label for="email_login">Seu e-mail</label>
                <input id="email_login" name="email_login" required="required" type="text" placeholder="contato@chatcest.com"/>
              </p>
              
              <p> 
                <label for="senha_login">Sua senha</label>
                <input id="senha_login" name="senha_login" required="required" type="password" placeholder="sua senha" /> 
              </p>
              
              <p> 
                <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
                <label for="manterlogado">Manter-me logado</label>
              </p>
              
              <p> 
                <input type="submit" value="Logar" /> 
              </p>
              
              <p class="link">
                Ainda não tem conta?
              </p>
                <div class="memory">
                  <a [routerLink]="['/cadastrar']">Cadastre-se</a>
                  <br />
                  <a [routerLink]="['/recuperar']">Recuperar senha</a>
                </div>

              </form>
          </div>
        </div>
      </div> 
    </ion-content>
